<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{lattice.title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>

<body>
    <main>

        <h1>Summary of {{lattice['title']}}</h1>
        <h2>Info</h2>
        <table>
            <tbody>
                <tr>
                    <td>Title</td>
                    <td> {{lattice.title}} </td>
                </tr>
                <tr>
                    <td>File</td>
                    <td>
                        <a href="https://github.com/nobeam/b3-lattices/blob/main/{{lattice.file}}">
                            {{lattice.file}}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>Author</td>
                    <td>{{lattice.author}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{lattice.description}}</td>
                </tr>
            </tbody>
        </table>

        <hr>
        <h2>Optical Functions Plot</h2>
        <img src="{{lattice['name']}}.svg" alt="">

        <hr>
        <h2>Global Machine & Lattice Parameter</h2>
        <table>
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Energy / Mev</td>
                    <td>{{data['pCentral']/3913.90152459*2}}</td>
                </tr>
                <tr>
                    <td>Periodicity</td>
                    <td>??</td>
                </tr>
                <tr>
                    <td>Cell length / m</td>
                    <td>??</td>
                </tr>
                <tr>
                    <td>Cell Angle / rad</td>
                    <td>??</td>
                </tr>
                <tr>
                    <td>Cell Angle / degree</td>
                    <td>??</td>
                </tr>
                <tr>
                    <td>Circumference</td>
                    <td>??</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>natural emittance / rad m</td>
                    <td>{{data['ex0']}}</td>
                </tr>
                <tr>
                    <td>U0 / MeV</td>
                    <td>{{data['U0']}}</td>
                </tr>
                <tr>
                    <td>alpha</td>
                    <td>{{data['alphac']}}</td>
                </tr>
                <tr>
                    <td>alpha 2</td>
                    <td>{{data['alphac2']}}</td>
                </tr>
                <tr>
                    <td>J delta</td>
                    <td>{{data['Jdelta']}}</td>
                </tr>
                <tr>
                    <td>tau delta</td>
                    <td>{{data['taudelta']}}</td>
                </tr>
            </tbody>
        </table>

        <hr>
        <h2>Detailed Lattice Parameter</h2>
        <table>
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>nux</td>
                    <td>{{data['nux']}}</td>
                </tr>
                <tr>
                    <td>dnux/dp</td>
                    <td>{{data['dnux/dp']}}</td>
                </tr>
                <tr>
                    <td>dnux/dp2</td>
                    <td>{{data['dnux/dp2']}}</td>
                </tr>
                <tr>
                    <td>dnux/dp3</td>
                    <td>{{data['dnux/dp3']}}</td>
                </tr>
                <tr>
                    <td>max(beta_x)</td>
                    <td>{{data['betaxMax']}}</td>
                </tr>
                <tr>
                    <td>min(beta_x)</td>
                    <td>{{data['betaxMin']}}</td>
                </tr>
                <tr>
                    <td>mean(beta_x)</td>
                    <td>{{data['betaxAve']}}</td>
                </tr>
                <tr>
                    <td>max(eta_x)</td>
                    <td>{{data['etaxMax']}}</td>
                </tr>
                <tr>
                    <td>J_x</td>
                    <td>{{data['Jx']}}</td>
                </tr>
                <tr>
                    <td>tau_x / s</td>
                    <td>{{data['taux']}}</td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>nuy</td>
                    <td>{{data['nuy']}}</td>
                </tr>
                <tr>
                    <td>dnuy/dp</td>
                    <td>{{data['dnuy/dp']}}</td>
                </tr>
                <tr>
                    <td>dnuy/dp2</td>
                    <td>{{data['dnuy/dp2']}}</td>
                </tr>
                <tr>
                    <td>dnuy/dp3</td>
                    <td>{{data['dnuy/dp3']}}</td>
                </tr>
                <tr>
                    <td>max(beta_y)</td>
                    <td>{{data['betayMax']}}</td>
                </tr>
                <tr>
                    <td>min(beta_y)</td>
                    <td>{{data['betayMin']}}</td>
                </tr>
                <tr>
                    <td>mean(beta_y)</td>
                    <td>{{data['betayAve']}}</td>
                </tr>
                <tr>
                    <td>max(eta_y)</td>
                    <td>{{data['etayMax']}}</td>
                </tr>
                <tr>
                    <td>J_y</td>
                    <td>{{data['Jy']}}</td>
                </tr>
                <tr>
                    <td>tau_y / s</td>
                    <td>{{data['tauy']}}</td>
                </tr>
            </tbody>
        </table>



    </main>
</body>

</html>